# This is an example file. Copy this to a new file named .env and fill in your actual values.
# Do NOT commit your .env file to version control.

# For the Gallery Uploader
GITHUB_TOKEN="ghp_YourGitHubPersonalAccessToken"
GITHUB_OWNER="YourGitHubUsername"
GITHUB_REPO="YourRepositoryName"

# For the Contact Form
EMAIL_SERVICE="Gmail"
EMAIL_USER="your.email@example.com"
EMAIL_PASS="YourEmailAppPassword"

# For Google reCAPTCHA v3 on the Contact Form
RECAPTCHA_SITE_KEY="Your_Public_reCAPTCHA_Site_Key"
RECAPTCHA_SECRET_KEY="Your_Private_reCAPTCHA_Secret_Key"